body{
    background-color: #000000;
    color: #FFFFFF;
    font-size:13px;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }
  
.site-content {
    flex: 1;
  }

.is-invalid{
    border-width: thick;
}

.footer .container{
    padding-bottom:10px;
}

#goiContent{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#Instructions{
    font-size: 18px;
    font-weight: bold;
}

ol li{
    margin-bottom: 10px;
}

#againContent{
    display:none;
}

